<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Create Account</title>
<link href="{{STATIC_URL}}css/style.css" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.8.2.min.js" ></script>
		<script type="text/javascript" src="{{STATIC_URL}}js/validatejs.js" ></script>		
		<meta charset="utf-8" />
		<link rel="stylesheet" href="{{ STATIC_URL }}style/jquery-ui.css" />
		<script src="{{ STATIC_URL }}js/jquery-1.8.3.js"></script>
		<script src="{{ STATIC_URL }}js/jquery-ui.js"></script>
		<link rel="stylesheet" href="/resources/demos/style.css" />
		<script>
			$(function() {
			$( ".datepicker" ).datepicker({
			changeMonth: true,
			changeYear: true,
			yearRange: "1990:2099",
			maxDate: new Date(),
			dateFormat: 'yy-mm-dd'
			});
			});
		</script>
		<script LANGUAGE="JavaScript">
		function checkaccountnumber() {
		if (document.forms.account.accountnumber.value.length < 4) {
							alert('account number should be 4 characters long');
								return false;
								}}
		</script>
		<script LANGUAGE="JavaScript">
				function checkparrentaccount() {
							 
							var level = document.getElementById('account-level').value;
							if (level == 'Low'){	
							var pac = document.getElementById('parent-account-number').value;
							{%for parent_accounts in parent_account_low %};
							var parentaccount = {{parent_accounts.account_number}};
								if (pac==parentaccount)
								{
									
									return true;								
								}
							{% endfor %};
							}
							$("#parent-account-number").val("");
							
							alert("parent account not matched")
							return false;
							}
							if (document.forms.account.accountnumber.value.length < 4) {
							alert('account number should be 4 characters long');
								return false;
								}
							}
		</script>

</head>

<body>
<div id="wrapper">
	<div id="header-wrapper">
    	<div class="browser-center">
        	<div id="logo"><a href="#"><img src="{{STATIC_URL}}images/logo.jpg" alt="logo" /></a></div>
            <div id="header-right">
            	<div id="welcome-user">
                	<h1><span>Welcome</span> Sumeet Mahapatra</h1>
                    <p>Last Login: 22-01-2013</p>
                </div>
                <div id="logout"><a href="#" class="button">logout</a></div>
            </div>
        </div>
    </div>
    
    <div id="main-content-wrapper">
    	<div class="browser-center">
        	<div id="center-content-wrapper">
            	<div id="page-title">
                	<h1>Create Sub-Account</h1>
                    <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...	</p>
                </div>
                <form method="post" name="account" action="." onsubmit="return checkparrentaccount()" >{%csrf_token%}
                <div id="form-wrapper">
                	<div class="form-area">
                    	<div class="form-label">Account Number</div>
                        <div class="form-field">
                          <input type="text" name="sub_account_number" id="accountnumber" class="text-box" maxlength="10" />
                        </div>
                    </div>
                    <div class="form-area">
                    	<div class="form-label">Account Name</div>
                        <div class="form-field">
                          <input type="text" name="sub_account_name" id="textfield" class="text-box" />
                        </div>
                    </div>
                    <div class="form-area">
                    	<div class="form-label">Parent Account Number</div>
                        <div class="form-field">
                        
                          <input list="Medium_account_level" autocomplete="false" name="parent_account_number" id="parent-account-number" class="text-box" maxlength="5">
                          	<datalist id="Medium_account_level">
                         	 	{%for parent_accounts in parent_account_low %}
                         	 		<option value="{{ parent_accounts.account_number }}">{{ parent_accounts.account_number }}-{{ parent_accounts.account_name }}</option>
                         	 	{% endfor %}	
                         	</datalist>
                        </div>
                    </div>
                    <div class="form-area">
                    	<div class="form-label">Start Date</div>
                        <div class="form-field">
                          <input type="text" name="start_date" class="datepicker" readonly="True" />
                        </div>
                    </div>
                    <div class="form-area">
                    	<div class="form-label">Account Status</div>
                        <div class="form-field">
                          <select name="status" id="textfield" class="emp-select" ><option {{form.status}}</option></select>
                        </div>
                    </div>
                    <div class="form-area">
                    	<div class="form-label">Created Date</div>
                        <div class="form-field">
                          <input type="text" name="created_date" class="text-box" value="{{date|date:"20y-m-d"}}" readonly="True" />
                        </div>
                    </div>
                    <div class="form-area">
                    	<div class="form-label">Account Description</div>
                        <div class="form-field">
                          <textarea name="account_desc" id="textarea" cols="45" rows="5" class="text-area"></textarea>
                        </div>
                    </div>
                    
                     <div class="form-area">
                    	<div class="form-label"></div>
                        <div class="form-field">
                        
                          <input type="submit" name="submit" class="button" value="Create Account" />
                        </div>
                    </div>
                   
                    
                </div>
                </form>
            </div>
        </div>
    </div>
    
    <div id="footer">© Copyright 2013 deducive.com. All Rights Reserved</div>
</div>
</body>
</html>
